*{
    padding: 0;
    margin: 0;
}
.navbar{
    margin:0;
    padding: 15px;
    font-size: larger;
    font-weight: 400;
    background-color:rgb(213, 246, 156);
    color: red;
}
.carousel-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 500px;
}
.speech{
    position: relative;
}
.heading{
    position: absolute;
    bottom: 350px;
    left: 40px;
    color: rgb(74, 120, 27);
}
.paragraph{
    position: absolute;
    left:40px;
    bottom:200px ;
    color: rgb(74, 120, 27);

}